<h1>Comments</h1>
<div class="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <div class="delete"><%= link_to "Delete", comment, method: :delete %></div>
      <%= content_tag :span, comment.name %>
      <%= content_tag :p, comment.body %>
    </div>
  <% end %>  
</div>

<%= form_for @comment do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autocomplete: 'off', size: 38 %>
  <%= f.label :body %>
  <%= f.text_area :body, size: "30x3" %>
  <%= f.submit %>
<% end %>